<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <form action="{% url 'samochody-list' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Filter">
                </form>

                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Make</th>
                            <th scope="col">Model</th>
                            <th scope="col">Seats</th>
                            <th scope="col">Gearbox</th>
                            <th scope="col">Fuel type</th>
                            <th scope="col">Active cruise control</th>
                            <th scope="col">Body type</th>
                            <th scope="col">Luggage capacity</th>
                            <th scope="col">Air conditioning</th>
                            <th scope="col">Segment</th>
                            <th scope="col">Price per day</th>
                            <th scope="col">Detail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                        <tr>
                            <!-- Display Objects -->
                            <td>{{ object.make }}</td>
                            <td>{{ object.model }}</td>
                            <td>{{ object.seats }}</td>
                            <td>{{ object.gearbox }}</td>
                            <td>{{ object.fuel_type }}</td>
                            <td>{{ object.active_cruise_control }}</td>
                            <td>{{ object.body_type }}</td>
                            <td>{{ object.luggage_capacity }}</td>
                            <td>{{ object.air_conditioning }}</td>
                            <td>{{ object.segment }}</td>
                            <td>{{ object.price_per_day }}</td>
                            <td><a href="{% url 'samochod-detail' object.id %}" class="btn btn-info">Detail</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>